body {
    background: url('../images/main-background.gif') repeat;
    color: #3d3d3d;
}

    .page-content {
        margin: 0 auto;
        width: 725px;
    }

hgroup h1, hgroup h2 {
    color: #4c4c4c;
    font-family: Cubano;
    font-size: 3em;
    text-transform: uppercase;
    
    background: url('../images/main-header.png') no-repeat;
    width: 540px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    margin: 40px auto;
}

hgroup h3 {
    font-family: GrandesignNeueSerif;
    font-size: 1.5em;
    text-transform: uppercase;
}

hr {
    background: url('../images/drawing.gif') no-repeat;
    border: none;
    height: 130px;
    margin: 50px 0;
    width: 380px;
}


@font-face {
    font-family: cubano;
    src: url('../fonts/cubano-regular.woff'),
         url('../fonts/cubano-regular.ttf'),
         url('../fonts/cubano-regular.eot'); 
}

@font-face {
    font-family: GrandesignNeueSerif;
    src: url('../fonts/Grandesign-Neue-Serif.woff'),
         url('../fonts/Grandesign-Neue-Serif.ttf'),
         url('../fonts/Grandesign-Neue-Serif.eot'); 
}